
@model IEnumerable<PracticeMVC.Models.Employee>

@{
    ViewBag.Title = "Employee List ";
}

<h2>Index</h2>
@*<div>
        @using (Html.BeginForm("myform"))
        {
            @Html.TextBoxFor(x => x.Id)
            <br />
            <br />
            @Html.TextBoxFor(x => x.Name)
            <br />
            <br />
            @Html.TextBoxFor(x => x.Address)
            <br />
            <br />
            @Html.CheckBoxFor(x => x.IsEmployee)
            <br />
            <br />
            <input type="submit" value="press  me"/>

        }

    </div>
    <table>
        <tr>
            <td>ID</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Model.Address</td>
        </tr>


    </table>*@
<table>
    <tr>
        <th>@Html.DisplayNameFor(x => x.Id)</th>
        <th>@Html.DisplayNameFor(x => x.Name)</th>
        <th>@Html.DisplayNameFor(x => x.Address)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(Item => item.Id)</td>
            <td>@Html.DisplayFor(Item => item.Name)</td>
            <td>@Html.DisplayFor(Item => item.Address)</td>
        </tr>
    }
</table>